QWidget {
    background-color: #444;
}

#gb_Display_A, #gb_Display_B {
    background-color: #A5DF00!important;
}
#tabWidget {  border:1px solid #A9BCF5; }

QGroupBox {
    border:1px solid #bbb;
    color:white;
}

#gb_Display_B QLineEdit, #gb_Display_A QLineEdit  {
    color:#333;
    border:0px solid #bbb;
    font-weight:bold;
    font-size:14pt;
    background-color: #A5DF00!important;
}


*[mandatoryField="true"] { background-color: red; }

*[ledActive="true"] { background-color: green; color: white; }

#gb_LEDs QLabel {
    border: 1px solid #bbb;
}


</RCC>
